<h1>Sign up for an account</h1>

<form action="/account/signup">
	<label for="username">
		<input type="text" name="username" placeholder="username" />
	</label>

	<label for="email">
		<input type="text" name="email" placeholder="email" />
	</label>

	<label for="password">
		<input type="password" name="password" placeholder="password" />
	</label>

</form>