<section class="main-container">
	<section class="main-outlet">
		{{outlet}}
	</section>
</section>

<footer>
	&copy; co&middot;op 2014. Questions? <a href="mailto:landongn@gmail.com">drop me a line.</a>
</footer>