<section class="main-container">
	<h1>Coop - Life's more fun with other people.</h1>
	<nav>
		{{#link-to 'account.signup'}}Sign up{{/link-to}}
	</nav>

	<section class="main-outlet">
		{{outlet}}
	</section>
</section>